{%extends 'layout.html' %}
{% block body %}
<div class="container">
    <h1 class="title">To-Do List</h1>
    <form action="/" method="POST">
        <input type="text" class="inp" name="task" placeholder="Enter a task" required autocomplete="off">
        <button type="submit">Add</button>
    </form>
    <ol>
        {% for task in tasks %}
        <li>
            <button type="button" class="done" onclick="markDone(this.parentNode)">&#x2713;</button>
            {{ task.text }}
            <span class="actions">
                <a href="/edit/{{ loop.index }}" class="edit">Edit</a>
                <a href="/delete/{{ loop.index }}" class="delete">Delete</a>
            </span>
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}